<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grades</title>
    <link rel="stylesheet" type="text/css" href="css/default.css">
</head>
<body >
    <h1 class="centerTitle">Grades</h1>

    <table class="inputGrades">
        <tr>
          <th>Module</th>
          <th>Mark</th>
          <th>Max Mark</th>
          <th>Credits</th>
        </tr>
        <tr>
        </tr>
        </table>
</body>
</html>